html,body{
    margin:0;
    padding:0;
    overflow:hidden;
}
textarea{resize:none;padding:0;}
input{font-size:100%;}
input[type=text]{padding:0 2px;}

#wrap{}
.screen{width:100%;}
.screen div {float:left;}

#loading{
    top:50%;
    left:50%;
    width:400px;
    height:200px;
    margin-left:-200px;
    margin-top:-200px;
    position:absolute;
    text-align:center;
}
#client{
    opacity:0;
	position: absolute;
    width: 846px;
    height: 360px;
    top: 50%;
    left: 50%;
    margin-left: -423px; /* Negative half of width. */
    margin-top: -180px; /* Negative half of height. */
}
#debug{
    position:absolute;
    top:0;left:0px;
    padding:0 4px;
}
#canvas{}
#mainMenu,#worldList{z-index:1337;height:50%;top:25%;text-align:center;font-size:200%;}
#lobby{height:100%;}
    #chat{position:relative;width:63%;height:95%;left:35%;}
    #chat #msg{width:80%;}
    #chat #send{width:10%;}
    #chat #buffer{width:100%;height:85%;}
    .outfit{position:absolute;}
    #headwear_prev{left:20px;top:80px;}
    #headwear_next{left:140px;top:80px;}
    #chat_top{padding:6px;}
#world{width:0%;}
