html,body{margin:0;padding:0;overflow:hidden;background-color:#111;}
input,textarea{background-color:#ccc;color:#fff;border:none;resize:none;}
input[type=text]{padding:0 2px;}

#wrap{}
#client{
	position: absolute;
    width: 846px;
    height: 360px;
    top: 50%;
    left: 50%;
    margin-left: -423px; /* Negative half of width. */
    margin-top: -180px; /* Negative half of height. */
}
#canvas{background-color:#eee;}
#chat{display:block;}
#msg{width:80%;}
#buffer{width:540px;height:200px;}