html,body{
    background-color:#111;
    font-family:"Trebuchet MS";
    color:#999;
}
input,textarea{background-color:#aaa;color:#eee;border:none;}
input:hover{background-color:#afafaf;}
input:active{background-color:#aaa;color:#dfdfdf;}
input[disabled]{background-color:#aaa;color:#ccc;}

.unselectable{-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
cursor:default;}
#canvas{background-color:#ccc;}
#debug{color:#815391;background-color:#EBF;}
#loading{color:#333;}
#mainMenu{}
#worldList{background-color:#ddd;}
